:root {
	--colorTextPrimary: #eeeeee;
	--colorTextSecondary: #aaaaaa;
	--colorTextLink: #7289da;
	--colorBackground: #212121;
	--colorForeground: #424242;
	--colorGameBanner: #34505d;
	--colorSale: #00a273;
	--colorWishlist: #F2C94C;
	--colorNotWishlist: #455A64;
	--colorScrollbar: #00a27380;
}

